<!-- <div class="navbar">
  <div class="container">
    <ul>
      <li><a href="#!user">Home</a></li>
      <li><a href="#!addPark">Add Park</a></li>
      <li><a href="#!viewPark">View Parks</a></li>
      <li><a href="#!info">Info</a></li>
    </ul>
  </div>
</div> -->

<md-nav-bar
      md-no-ink-bar="disableInkBar"
      md-selected-nav-item="currentNavItem"
      nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-href="/#!user" name="Home">
        Home
      </md-nav-item>
      <md-nav-item md-nav-href="/#!addPark" name="addPark">
        Add Park
      </md-nav-item>
      <md-nav-item md-nav-href="/#!viewPark" name="viewPark">
        Reports
      </md-nav-item>
      <md-nav-item md-nav-href="/#!info" name="info">
        Info
      </md-nav-item>
</md-nav-bar>
