<!-- <div ng-include="'views/partials/nav.html'"></div> -->
<div class="container">
  <div>
         <!-- street -->
        <md-input-container ng-click="vm.newPark = null">
          <label>Street</label>
          <input placeholder="Add Street" ng-model="vm.newPark.street">
        </md-input-container>
  
          <!-- City -->
          <md-input-container>
            <label>City</label>
            <input placeholder="Add City" ng-model="vm.newPark.city">
          </md-input-container>
  
         <!-- zip -->
          <md-input-container>
              <label>Zip</label>
              <input placeholder="Add Zip Code" ng-model="vm.newPark.zip">
          </md-input-container>

          <!-- Date -->
          <md-input-container>
              <label>Enter date</label>
              <md-datepicker ng-model="vm.newPark.date"></md-datepicker>
          </md-input-container>

          <!-- description -->
            <md-input-container>
                <label>Description</label>
                <input placeholder="Enter Description" ng-model="vm.newPark.description">
            </md-input-container>

               <!-- poop rating -->
          <div layout id="rating">
              <div layout style="padding: 0px 20px 0px 0px;">
                <label>Poop Rating</label>
              </div>
              <md-slider flex md-discrete ng-model="vm.newPark.poop_rate" step="1" min="1" max="5" aria-label="rating">
              </md-slider>
            </div>
             
            <!-- Button -->
            <div ng-click="vm.popUp()">
              <section ng-click="vm.newPark = null">
            <md-button  type="submit" ng-click="vm.addParks(vm.newPark, vm.userObject)">Add Park!</button>
            </section>
            </div>
          </div>
         </div>

