<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <div>
      <!-- <md-input required type="text" ng-model="vm.newPark.street" placeholder="Street"> -->
      <md-card-content>
        <md-input-container>
          <label>Street</label>
          <input>
        </md-input-container>
      </md-card-content>
      <md-card-content>
          <md-input-container>
            <!-- City -->
            <label>City</label>
            <input>
          </md-input-container>
        </md-card-content>
        <!-- zip -->
        <md-card-content>
            <md-input-container>
              <label>Zip</label>
              <input>
            </md-input-container>
          </md-card-content>
          <!-- description -->
          <md-card-content>
              <md-input-container>
                <label>Description</label>
                <input>
              </md-input-container>
            </md-card-content>



      <!-- <input required type="text" ng-model="vm.newPark.city" placeholder="City"> -->
      <!-- <input required type="text" ng-model="vm.newPark.zip" placeholder="Zip"> -->
      <input type="number" ng-model="vm.newPark.poop_rate" placeholder="Poop rate">
      <input type="date" ng-model="vm.newPark.date">
      <!-- <input type="text" ng-model="vm.newPark.description" placeholder="Description of park"> -->
      <button class="btn btn-default" ng-click="vm.addParks(vm.newPark, vm.userObject)">Add Park!</button>
  </div>
</div>




<!-- <md-card-content>
    <div layout="row">
      <md-input-container>
        <label>Street Name</label>
        <input>
      </md-input-container>

      <md-input-container>
        <label>City</label>
        <input>
      </md-input-container> -->


<!-- switch div class to a form, move ng click , ng submit on form element-->