<!-- <div ng-include="'views/partials/nav.html'"></div> -->
<md-input-container>
    <input type="text" placeholder="SearchPark" ng-model="searchBox">
</md-input-container>
<br>
<div class="container">
    <table >
        <thead>
            <th>Street</th> 
            <th>City</th> 
            <th>Zip</th> 
            <th>Poop Rating</th> 
            <th>Date</th> 
            <th>Description</th> 
            <th>Added By</th> 
        </thead>
            <tbody>
                <tr ng-repeat="park in vm.Parks.list | filter: searchBox">
                <td>{{park.street}}</td>
                <td>{{park.city}}</td>
                <td>{{park.zip}}</td>
                <td>{{park.poop_rate}}</td>
                <td>{{park.date | date:format: short}}</td>
                <td>{{park.description}}</td>
                <td>{{park.added_by}}</td>
                </tr>
            </tbody>
    </table>

</div>


<!-- 
<mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card> -->
      